@charset "utf-8"


{
margin: 0;
padding: 0;
}

body{
background-color: gray;
  font-family: 'Oswald', sans-serif;
}

header{
padding: 10px;
text-align: center;
background-color: red;
}
section{
padding: 10px;
background-color: orange;
}
aside{
padding: 10px;
background-color: green;
}
footer{
padding: 10px;
background-color: blue;
text-align: center;
}


@media screen and (min-width:641px){
  aside{
    width: calc(min-width:641px);
    float:left;
  }
  #side:after{
    
    content:"";
    display:block;
    clear:both;
  }
}

@media screen and (min-width:1025px){
  #main{
    max-width: 1024px;
    margin: auto;
  }
  section{
    width: calc(70%-20%);
    float:left;
  }
  aside{
    width:left;
  }
  #main:after{
    content:"";
  display:block;
    clear:both;
  }
}
